atom-text-editor[with-flower-tree] {
	display: flex;
}

atom-text-editor[with-minimap] > div,
atom-text-editor[with-minimap].editor > div {
	order: 2;
}

atom-text-editor, html {
	atom-flower-tree {
		display: block;
		overflow: hidden;
		position: relative;

		order: 4;
		width: 40%;
		height: 65%;
		flex-grow: 0;
		flex-shrink: 0;

		:hover {
			cursor: w-resize;
		}
	}
}
